# Libraries

In [405]:
import pandas as pd
import json
from enum import Enum
import datetime

# Common functions

## Cast functions

In [406]:
def cast_col_to_datetime(df: pd.DataFrame, column_name: str) -> pd.DataFrame:
    df[column_name] = pd.to_datetime(df[column_name], format='ISO8601')
    return df

def cast_col_to_str(df: pd.DataFrame, column_name: str) -> pd.DataFrame:
    df[column_name] = df[column_name].astype(str)
    return df

def cast_col_to_int(df: pd.DataFrame, column_name: str) -> pd.DataFrame:
    df[column_name] = df[column_name].astype(int)
    return df

def cast_col_to_date(df: pd.DataFrame, column_name: str) -> pd.DataFrame:
    df[column_name] = pd.to_datetime(df[column_name], format='%d.%m.%Y')
    return df

class ColCast(Enum):
    TO_DATETIME = cast_col_to_datetime
    TO_DATE = cast_col_to_date
    TO_STRING = cast_col_to_str
    TO_INTEGER = cast_col_to_int

def cast_columns(df: pd.DataFrame, cast_mapping: dict[str:ColCast]) -> pd.DataFrame:
    # perform check if provided mapping matches dataframe
    columns_match = set(df.columns) == set(cast_mapping.keys())
    if not columns_match:
        raise Exception("Provided mapping do not match the columns of the dataframe.")
    
    for col_name, cast_func in cast_mapping.items():
        df = cast_func(df, col_name)

    return df

# Extract

## Read data.csv

In [407]:
applications_df = pd.read_csv("./data.csv")

# Transform

## Apply datatype casting on dataframe columns

In [408]:
applications_datatypes = {
    "id": ColCast.TO_INTEGER,
    "application_date": ColCast.TO_DATETIME,
    "contracts": ColCast.TO_STRING, 
}

In [409]:
casted_df = cast_columns(applications_df.copy(), applications_datatypes)

## Parse contracts column

In [410]:
casted_df['contracts'] = casted_df['contracts'].replace('nan', '[{}]')
casted_df['contracts'] = casted_df['contracts'].apply(json.loads)
exploded_df = casted_df.explode('contracts').reset_index(drop=True)

In [411]:
flattened_df = pd.json_normalize(exploded_df['contracts'])
parsed_df = pd.concat([exploded_df, flattened_df], axis=1)

## Calculate tot_claim_cnt_l180d feature

In [412]:
current_date = pd.Timestamp(datetime.datetime.now())
minus_180_days = current_date - pd.Timedelta(days=180)

In [413]:
claim_df = parsed_df.copy()
claim_df['claim_date'] = pd.to_datetime(parsed_df['claim_date'])

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_6904\72844443.py:2: UserWarning: Parsing dates in %d.%m.%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  claim_df['claim_date'] = pd.to_datetime(parsed_df['claim_date'])

In [414]:
claim_df = claim_df[(claim_df['claim_date'].notnull()) & (claim_df['claim_date'] > minus_180_days)]
cnt_l180d_feature_df = claim_df.groupby('id')['claim_id'].count().reset_index(name='tot_claim_cnt_l180d')

In [415]:
parsed_df = parsed_df.merge(cnt_l180d_feature_df, on='id', how='left')
parsed_df['tot_claim_cnt_l180d'].fillna(-3, inplace=True)
parsed_df['tot_claim_cnt_l180d'] = parsed_df['tot_claim_cnt_l180d'].astype(int)

In [416]:
parsed_df

,id,application_date,contracts,contract_id,bank,summa,loan_summa,claim_date,claim_id,contract_date,tot_claim_cnt_l180d
0,2925210,2024-02-12 19:22:46.652000+00:00,{},NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3
1,2925211,2024-02-12 19:24:29.135000+00:00,"{'contract_id': 522530, 'bank': '003', 'summa'...",522530,003,500000000,0,13.02.2020,609965,17.02.2020,-3
2,2925211,2024-02-12 19:24:29.135000+00:00,"{'contract_id': '', 'bank': '014', 'summa': ''...",,014,,,28.08.2020,F00013731,,-3
3,2925211,2024-02-12 19:24:29.135000+00:00,"{'contract_id': '', 'bank': '014', 'summa': ''...",,014,,,08.10.2020,F00021301,,-3
4,2925211,2024-02-12 19:24:29.135000+00:00,"{'contract_id': '', 'bank': '014', 'summa': ''...",,014,,,25.11.2020,F00037907,,-3
...,...,...,...,...,...,...,...,...,...,...,...
10064,2926205,2024-02-13 06:09:54.210000+00:00,"{'contract_id': '', 'bank': '014', 'summa': ''...",,014,,,31.05.2023,F00895453,,-3
10065,2926206,2024-02-13 06:09:54.306000+00:00,{},NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3
10066,2926207,2024-02-13 06:09:55.661000+00:00,{},NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3
10067,2926208,2024-02-13 06:09:57.024000+00:00,{},NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3
10068,2926209,2024-02-13 06:10:00.403000+00:00,{},NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3

## Calculate disb_bank_loan_wo_tbc feature

The task `Sum of exposue of loans without TBC loans. Exposure means here field "loan_summa".` is not clear. What does mean `without TBC loans`? Which bank is it?

Feature disb_bank_loan_wo_tbc will be calculated as sum of 'loan_summa' where it is not null, 'contract_date' is not null and TBC Bank will have 014 value.

In [417]:
loan_df = parsed_df[['id', 'bank', 'contract_date', 'loan_summa']]
loan_df = loan_df[(~loan_df['bank'].isin(['LIZ', 'LOM', 'MKO', 'SUG', '014'])) & (loan_df['bank'].notnull()) & (loan_df['contract_date'].notnull()) & (loan_df['contract_date'] != '')]
loan_df = loan_df[(loan_df['loan_summa'] != '')]
loan_df['loan_summa'] = loan_df['loan_summa'].astype('Int64')
loan_wo_tbc_feature_df = loan_df.groupby('id')['loan_summa'].sum().reset_index(name='disb_bank_loan_wo_tbc')

In [418]:
parsed_df = parsed_df.merge(loan_wo_tbc_feature_df, on='id', how='left')
parsed_df['disb_bank_loan_wo_tbc'].fillna(-3, inplace=True)
parsed_df.loc[parsed_df['disb_bank_loan_wo_tbc'] == 0, 'disb_bank_loan_wo_tbc'] = -1

In [421]:
parsed_df

,id,application_date,contracts,contract_id,bank,summa,loan_summa,claim_date,claim_id,contract_date,tot_claim_cnt_l180d,disb_bank_loan_wo_tbc
0,2925210,2024-02-12 19:22:46.652000+00:00,{},NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3,-3
1,2925211,2024-02-12 19:24:29.135000+00:00,"{'contract_id': 522530, 'bank': '003', 'summa'...",522530,003,500000000,0,13.02.2020,609965,17.02.2020,-3,-1
2,2925211,2024-02-12 19:24:29.135000+00:00,"{'contract_id': '', 'bank': '014', 'summa': ''...",,014,,,28.08.2020,F00013731,,-3,-1
3,2925211,2024-02-12 19:24:29.135000+00:00,"{'contract_id': '', 'bank': '014', 'summa': ''...",,014,,,08.10.2020,F00021301,,-3,-1
4,2925211,2024-02-12 19:24:29.135000+00:00,"{'contract_id': '', 'bank': '014', 'summa': ''...",,014,,,25.11.2020,F00037907,,-3,-1
...,...,...,...,...,...,...,...,...,...,...,...,...
10064,2926205,2024-02-13 06:09:54.210000+00:00,"{'contract_id': '', 'bank': '014', 'summa': ''...",,014,,,31.05.2023,F00895453,,-3,217320883
10065,2926206,2024-02-13 06:09:54.306000+00:00,{},NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3,-3
10066,2926207,2024-02-13 06:09:55.661000+00:00,{},NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3,-3
10067,2926208,2024-02-13 06:09:57.024000+00:00,{},NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3,-3
10068,2926209,2024-02-13 06:10:00.403000+00:00,{},NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3,-3

## Calculate day_sinlastloan feature

In [437]:
last_loan_df = parsed_df[['id', 'summa', 'contract_date', 'application_date']]
last_loan_df['contract_date'] = pd.to_datetime(last_loan_df['contract_date'])
last_loan_df['application_date'] = pd.to_datetime(last_loan_df['application_date'])
assert last_loan_df['application_date'].dtype == last_loan_df['contract_date'].dtype

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_6904\1708946114.py:2: UserWarning: Parsing dates in %d.%m.%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  last_loan_df['contract_date'] = pd.to_datetime(last_loan_df['contract_date'])
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_6904\1708946114.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_loan_df['contract_date'] = pd.to_datetime(last_loan_df['contract_date'])
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_6904\1708946114.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  last_loan_df['application_date'] = pd.to_datetime(last_loan_df['application_date'])

AssertionError:

In [435]:
last_loan_df

            id      summa contract_date                 application_date
0      2925210        NaN           NaT 2024-02-12 19:22:46.652000+00:00
1      2925211  500000000    2020-02-17 2024-02-12 19:24:29.135000+00:00
2      2925211                      NaT 2024-02-12 19:24:29.135000+00:00
3      2925211                      NaT 2024-02-12 19:24:29.135000+00:00
4      2925211                      NaT 2024-02-12 19:24:29.135000+00:00
...        ...        ...           ...                              ...
10064  2926205                      NaT 2024-02-13 06:09:54.210000+00:00
10065  2926206        NaN           NaT 2024-02-13 06:09:54.306000+00:00
10066  2926207        NaN           NaT 2024-02-13 06:09:55.661000+00:00
10067  2926208        NaN           NaT 2024-02-13 06:09:57.024000+00:00
10068  2926209        NaN           NaT 2024-02-13 06:10:00.403000+00:00

[10069 rows x 4 columns]

In [432]:
# custom grouping function
def calculate_days_since_last_loan(group: pd.DataFrame):
    group = group.sort_values('contract_date')
    group['day_sinlastloan'] = group.apply(
        lambda row: (row['application_date'] - group[group['contract_date'] <= row['application_date']]['contract_date'].max()).days, axis=1
    )
    return group

In [433]:
day_sinlastloan_feature_df = last_loan_df.groupby('id').apply(calculate_days_since_last_loan).reset_index(drop=True)

TypeError: Invalid comparison between dtype=datetime64[ns] and Timestamp